@import '/src/styles/mixings';

.formFooterContainer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;

  &__allCost,
  &__deliver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-size: 14px;
    color: #FFFFFF;

    &__price {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #E9B993;
    }
  }
}