@import '/src/styles/mixings';


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 300px 20px 300px;
  border-radius: 0 0 45px 45px;
  background-color: white;

  @include breakpoints (mobile) {
    // flex-direction: column;
    padding: 100px 150px 20px 150px;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;
    max-height: 400px;
    justify-content: flex-start;
    width: 100%;
  }

  @include breakpoints (laptop) {
    padding: 100px 150px 20px 150px;
  }

  &__link {
    text-decoration: none;
    color: rgba(50, 50, 50, 0.6);
    font-weight: 700;
    font-size: 14px;

    @include breakpoints (mobile) {
      margin: 20px 0 20px 0;
    }

    &__photoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &__smallImg {
        transition: transform 450ms;
        @include breakpoints (mobile) {
          display: none;
          
        }
      }

      &__smallImg:hover {
        transform: scale(1.18);
      }
      &__mediumImg {
       

        @include breakpoints (laptop) {
          display: none;
        }

        @include breakpoints (largescreens) {
          display: none;
        }
      }

    

      &__dietsName {
        text-transform: uppercase;
      }
    }
  }
}

.headerContainer::-webkit-scrollbar {
  display: none;
}