@import '/src/styles/mixings';

.button {
  padding: 10px 32px;
  
  border-radius: 20px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  cursor: pointer;

  @include breakpoints (mobile) {
    margin-bottom: 15px;
    width: 200px;
  }
  

}