@import '/src/styles/mixings';

.deliveryContainer {
  width: 100%;
  position: relative;
  background-color: #282828;
  height: 100vh;
  padding-bottom: 200px;
  
  
  
  &__backgroundWrapper {
    height: 100%;
    width: 100%;

    &__img {
      display: block;
      background-color: #fff;
      width: 100%;
      border-radius: 0 0 45px 45px;
      height: 100%;

      @include breakpoints (mobile) {
        height: 70vh;
      }

      @include breakpoints (tablet) {
        height: 80vh;
      }
    }
  }

  &__searchContainer {
    position: absolute;
    top: 5%;
    right: 25%;
    left: 25%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
    @include breakpoints (mobile) {
      padding: 0;
      top: 15%;
      width: 100%;
      right: 0;
      left: 0;
      padding: 0 20px;
    }

    @include breakpoints (tablet){
      padding: 0 100px;
    }

    @include breakpoints (laptop) {
      padding: 100px 0;
      top: 2%;
    }

    &__tittle {
      font-size: 40px;
      font-weight: 900;
      color: #282828;
      text-transform: uppercase;
      margin-bottom: 35px;
      text-align: center;

      @include breakpoints (mobile) {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
      }

      @include breakpoints (tablet) {
        font-size: 30px;
        line-height: 30px;
      }

      @include breakpoints (laptop) {
        font-size: 35px;
      }
    }
  }

  &__textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    line-height: 40px;
    text-align: center;
    @include breakpoints (mobile){
      padding: 0 10px;
      line-height: 25px;
    }
    @include breakpoints (tablet){
      padding: 40px 0 0 0;
    }

    &__tittle {
      color: #E9B993;
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      color: #FFFFFF;
    }
  }

}