@import '/src/styles/mixings';

.formWrapper {

  background-color: #282828;
  margin-right: 250px;
  border-radius: 0 0 45px 45px;
  z-index: 4;

  @include breakpoints (mobile) {
    margin-right: 0;
    width: 80%;
  }

  @include breakpoints (laptop) {
    margin-right: 200px;
    margin-left: 100px;
  }
}

